body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(7, 50, 28);
    background-color: darkslategrey;
}
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a {
    color: darkolivegreen;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    /* font-weight: bold;
    font-size: 18px; */
}
a:visited {
    color: pink;
}
.ResumeListHeading {
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.justify {text-align: justify;}

.bold { font-weight: bold;}
.box1 {
    border-width: 1px;
    border-style: solid;
}


